<h2>Browse Doctors</h2>
<br>
<ul class="docs">
  {{#each doctors}}
    <li>
      <h3>{{full_name}}</h3>
      <p>{{category}}</p>
      <p>{{street_address}}{{city}},{{state}}</p>
      <p><a href="/doctors/details/{{doc_id}}"><strong>Details</strong></a></p>
    </li>
  {{/each}}
</ul>
